@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;500;600;700;800;900&family=Pacifico&display=swap');

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  max-width: 100%;
  overflow-x: clip;
  font-family: 'Lato', sans-serif;
  color: #676bb9;
  background-image: url("./images/rabbits.png");
  background-attachment: fixed;
  background-size: 50%;
  background-position: right bottom;
  background-repeat: no-repeat;
}

a:link, a:visited {
  color: #84b6f8;
}

header {
  margin-left: 2%;
}

h1 {
  font-weight: 900;
  font-size: 40pt;
}

main {
  width: 100%;
  height: auto;
  margin-left: 2%;
  margin-bottom: 3%;
}

table {
  width: 33%;
  font-size: 16pt;
}

th, td {
  padding: 5px;
}

tr {
  width: 50%;
}

tr:nth-child(even) {
  background-color: #e2e3ff;
}

th {
  position: sticky;
  /* i make my money on my own yeah wakin up 5 in the morning yeah throwin money in the oven yeah fuck sleep and its cousin yeah */
  top: 0;
  text-align: left;
  background: #fff;
}

th:hover {
  cursor: pointer;
}

th i {
  position: absolute;
  top: 20%;
  right: 0;
}

#btt {
  position: fixed;
  left: 0;
  bottom: 0;
  margin-bottom: 2%;
  margin-left: 40%;
  padding: 10px;
  transition: display 0.2s;
}

#btt a:link, #btt a:visited {
  text-decoration: none;
}

@media (max-width: 768px) {

  main, header {
    width: 96%;
    margin: 0;
    padding: 2%;
  }

  main {
    background-size: 100%;
    background-position: center bottom;
  }

  h1 {
    font-size: 25pt;
  }

  table {
    width: 100%;
    background-color: #ffffffcc;
    font-size: 12pt;
  }

}